<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.kumaraswamy.tasks">

    <!-- For more details, see: https://github.com/ShreyashSaitwal/rush-cli/wiki/Android-Manifest-File -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
      <!-- <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <service android:name="xyz.kumaraswamy.tasks.ActivityService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"
                 android:process=":doraemon"/>

        <receiver android:name="xyz.kumaraswamy.tasks.Tasks$AlarmReceiver"
                  android:enabled="true"
                  android:exported="true"/>

        <activity android:name="xyz.kumaraswamy.tasks.ComponentManager$AActivity"/>
    </application>
</manifest>
